::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    font-size: 13.5px;
}

.form-group .help-block {
    color: #fb512e;
    width: 100%;
    display: block;
}

label.required:after {
    color: #cc0000;
    content: "*";
    font-weight: bold;
    margin-left: 5px;
}

.sort {
    cursor: move;
    position: relative;
}

.sort:hover {
    color: grey;
}

.sort:before {
    content: "↑↓";
    position: absolute;
    color: #b3aeae;
    font-size: 11px;
    right: 0;
}

.sort:hover:before {
    content: "Ấn để sắp xếp";
    position: absolute;
    font-size: 10px;
    right: 0;
    color: red;
}

.help-block {
    color: #FD9883;
}

.select2 {
    width: 100%;
}

.noi_dung_table {
    margin-top: 15px;
    border: 1px solid #eee;
}

.noi_dung_table .table {
    margin: 0 !important;
}

.img_upload {
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-bottom: 10px;
}

.img_upload img {
    width: 200px;
    height: 210px;
    min-width: 200px;
    max-width: 200px;
    min-height: 210px;
    max-height: 210px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: solid 1px #d4d1d1;
}

.img_upload > a {
    position: relative;
}

.input_file_img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 999999;
    width: 123px;
    height: 31px;
    background: transparent;
}

.user-header {
    height: 140px;
    padding: 6%;
    background: #687884;
    text-align: center;
}

.mini-navbar .info-user-menu-left {
    display: none !important;
}

.logo-dashboard-admin {
    margin: 2px auto;
    max-height: 50px;
    min-height: 40px
}

.chosen-container-single .chosen-single {
    padding: 5px !important;
    border-radius: 0 !important;
}

.select2-container--classic .select2-selection--single {
    padding: 6px;
    border-radius: 0;
    height: 35px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 33px;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: unset;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.no-data {
    text-align: center;
}

.table-bordered {
    border: 1px solid #EBEBEB !important;
}

.str_limit_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.loading {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #0091ce;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin: 20px auto !important;
}

form.gridForm {
    margin-top: 10px;
}
