
.select2-container .select2-selection--single {
    height: 36px;
    line-height: 36px;
    border-radius: 0;
    border: 1px solid #e5e6e7;
}

.select2-container--classic .select2-selection--single {
    padding: 2px 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #1ab394;
    background-image: unset;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #565656;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #fff;
    border: none;
    height: 34px;
    background-image: none;
}
